* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

#bg-image {
    margin-bottom: 150px;
    height: 580px;
    background-image: url(./assets/images/bgimage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#bg-image .bg-color {
    height: 580px;
    background-image: linear-gradient(#006700c9, #000000);
}

.container {
    width: 85%;
    margin: auto;
}

#container {
    position: sticky;
    top: 0;
    z-index: 1000;
}

#container .header {
    background-color: #247711;

    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;

}

.header .nav-logo {
    font-size: 35px;
    cursor: pointer;
}

.side-menu {
    border-radius: 10px;
    height: 400px;
    width: 250px;
    position: absolute;
    top: 60px;
    right: -270px;
    background-color: #1c6d0a;
    color: white;
    transition: 0.3s ease;
    padding-top: 15px;
    z-index: 1000;
}

.side-menu a {
    padding: 15px 25px;
    display: block;
    text-decoration: none;
    color: white;
}

.side-menu a:hover {
    background-color: #3e800d;
    color: #ffffff;
}

body.menu-open {
    overflow: hidden;
}

.bars,
.sidebar {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    z-index: 999;
    background-color: #4a9c2e;
    transform: translateX(38%);
    transition: transform 0.3s ease;
}

.sidebar.active {
    transform: translateX(-100%);
}


.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.side-menu.open {
    right: 0;
}

/* Optional styling for the header bar icon */
.bars {
    cursor: pointer;
    font-size: 24px;
    color: #fcfcfc;
}

.header .nav-contact {
    /* margin-top: 25px; */
}

.header .nav-contact a {
    background: rgb(29 121 85);
    text-decoration: none;
    padding: 10px 15px;
    color: #ffffff;
    font-size: 17px;
    border-radius: 25px;
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    margin: 50px 0px;
}

.hero .hero-left {
    width: 60%;
}

.hero .hero-left .counter {
    display: flex;
    margin: 25px 0px;
}

.counter div {
    margin: 0px 16px 0px 0px;
}

.counter span {
    font-size: 19px;
    font-weight: 600;
}

.hero .hero-left .counter p {
    font-size: 13px;
}

.hero .hero-left h2 {
    color: #ffffff;
    font-size: 50px;
    letter-spacing: 1px;
    word-spacing: 6px;
}

.hero .hero-left span {
    color: rgb(17 255 20);
    ;
}

.hero .hero-left p {
    font-size: 15px;
    font-weight: 300
}

.hero-left .btn-left {
    border: none;
    cursor: pointer;
    border-radius: 25px;
    background-color: rgb(29 121 85);
    padding: 10px 20px;
    color: #ffffff;
    margin: 30px 20px 0px 0px
}

.hero .hero-left .btns .btn-left {
    border: none;
    cursor: pointer;
    border-radius: 25px;
    background-color: rgb(29 121 85);
    padding: 10px 20px;
    color: #ffffff;
    margin: 0px 20px 0px 0px
}

.hero .hero-left .btns .btn-right {
    background: transparent;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 25px;
    color: #ffffff;
    border: 1px solid gray;
}

.hero .hero-left .btns i {
    margin: 0px 5px;
}

.hero .hero-right {
    width: 35%;
}

.hero .hero-right form {
    background-color: #f0f4f4;
    color: #000000;
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 15px;
    padding: 20px;
}

.hero .hero-right form input {
    margin: 10px 0px;
    padding: 15px;
    border-radius: 25px;
    outline: none;
    border: 1px solid gray;
}

.hero .hero-right form input::placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

.hero .hero-right form textarea {
    margin: 10px 0px;
    padding: 15px;
    border-radius: 25px;
    outline: none;
    border: 1px solid gray;
    resize: none;
}

.hero .hero-right form .btn {
    border: none;
    cursor: pointer;
    border-radius: 25px;
    background-color: rgb(29 121 85);
    padding: 10px 20px;
    color: #ffffff;
    margin: 10px 0px 20px 0px;

}

#about {
    margin-top: -50px;
}

#about .container .items {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.image {
    position: relative;
    width: 100%;
}

.items .img-1 {
    width: 70%;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.items .img-2 {
    position: absolute;
    left: 50%;
    background: #ffffff;
    padding: 2px;
    width: 40%;
    top: 47%;
    border-radius: 30px;
}

.swiper {
    width: 60%;
    height: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 20px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-content {
    /* padding: 13px; */
    width: 100%;
    text-align: left;
}

.slide-content h2 {
    font-size: 25px;
}

.slide-content p {
    font-size: 15px;
    font-weight: 300;

}

.slide-content .btn-read {
    border: none;
    cursor: pointer;
    border-radius: 25px;
    background-color: rgb(29 121 85);
    padding: 10px 20px;
    color: #ffffff;
    margin: 20px 0px 0px 0px
}

#feature {
    margin-top: 80px;
}

.container .heading {
    display: flex;
    justify-content: space-between;
}

.container .heading p {

    font-size: 16px;
    font-weight: 300;
}

.container h2 {
    margin: 8px 0px;
    font-size: xx-large;
}

.container .heading .pre-btn {
    background: rgb(231 224 224 / 50%);
    color: rgb(29 121 85);
    height: 50px;
    width: 50px;
    border: 1px solid rgb(29 121 85);
    font-size: 1.4rem;
    cursor: pointer;
    margin: 0px 6px;
    border-radius: 50%;
}

.container .heading .next-btn {
    background-image: linear-gradient(rgb(6 105 17), rgb(29 121 85));
    color: #ffffff;
    height: 50px;
    width: 50px;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 50%;
}

.feature {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;
}

.feature .item1,
.feature .item3 {
    width: 24%;
    border: 2px solid rgb(29 121 85);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.feature .item2 {
    width: 24%;
    background-image: linear-gradient(rgb(6 105 17), rgb(29 121 85));
    color: #ffffff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item1 i,
.item3 i {
    font-size: 45px;
    margin: 15px;
    color: rgb(24, 79, 24);
}

.item2 i {
    font-size: 45px;
    margin: 15px;
}

.feature .item1 h4,
.feature .item3 h4,
.feature .item2 h4 {
    font-size: 20px;
    font-weight: 400;
}

.feature .item1 p,
.feature .item3 p,
.feature .item2 p {
    font-size: 15px;
    font-weight: 300;
}

#form {
    background-image: linear-gradient(rgb(6 105 17), rgb(29 121 85));
    margin: 25px 0px;
}

#form .container .swiper {
    width: 90%;
    height: 100%;
}

#form .container .swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form .container .swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.box-content {
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.box-content h2 {
    font-size: 25px;
    font-weight: 500;
}

.box-content p {
    font-size: 14px;
    font-weight: 300;
    padding: 0px 0px;
}

.detail {
    display: flex;
    justify-content: center;
}

.detail input {
    margin: 30px 10px;
    padding: 10px 20px 10px 10px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    outline: none;
    background: transparent;
}

.detail input[type="text"] {
    color: #ffffff;
}

.detail input::placeholder {
    color: #d0cdcd;
}

.detail button {
    background-color: #ffffff;
    margin: 30px 5px;
    padding: 10px 20px;
    border: none;
    color: rgb(29 121 85);
    border-radius: 20px;
    cursor: pointer;
}

#service {
    background-color: rgb(214, 222, 214);
    padding: 30px 0px;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(190, 210, 203);
    padding: 20px;
    margin: 40px 0px 0px 0px;
}

.banner .banner1 {
    height: 550px;
    padding: 20px;
    width: 28%;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    background: rgb(255, 255, 255);
}

.banner1 .image img {
    width: 100%;
}

.banner .mid h3 {
    font-size: 18px;
    color: rgb(56 155 116);
}

.banner .mid p {
    font-size: 15px;
    font-weight: 300;
    color: #333;
    margin: 15px 0px;
}

.banner .banner1 button {
    padding: 10px 40px;
    background: rgb(56 155 116);
    border: none;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 25px;
    color: #ffffff;
}

#testimonial .content-box {
    display: flex;
    gap: 40px;
}

.content-swiper {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background: white;
}

.content-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.content-slide {
    min-width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.slide-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 10px;
}

.content-slide h2 {
    margin: 0 0 10px;
    font-size: 1.5rem;
}

.content-slide p {
    margin: 0;
    font-size: 1rem;
    color: #333;
}

button.swiper-prev,
button.swiper-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    padding: 6px 10px;
    font-size: 14px;
    cursor: pointer;
    z-index: 1;
}

button.swiper-prev {
    left: 10px;
}

button.swiper-next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

#video {
    background-image: linear-gradient(rgb(6 105 17), rgb(29 121 85));
    margin: 40px 0px;
}

.video-test {
    position: relative;
}

#video .video-test iframe {
    margin: 30px auto;
    padding: 20px;
    background-color: rgb(89, 147, 76);
    border-radius: 20px;
    box-shadow: 8px 8px 8px 0px #333;
}

#video .container h1 {
    text-align: center;
    font-size: 40px;
    text-transform: capitalize;
    color: rgb(211 220 209);
    padding: 20px 0px;
}

#video .container p {
    text-align: center;
    font-size: 16px;
    text-transform: capitalize;
    color: rgb(211 220 209);
}

.video-test .review {
    height: 290px;
    width: 270px;
    border-radius: 20px;
    background-color: rgb(241 241 241);
    padding: 10px;
    color: rgb(255 255 255);
    position: absolute;
    right: 10%;
    top: 25%;
    box-shadow: 3px 3px 2px 0px #333;
}

.container .video-test .review .coment {
    color: #333;
    font-size: 13px;
    padding: 10px;
}

.video-test .review .client {
    margin: 20px 0px;
}

.video-test .review .client h6 {
    font-size: 10px;
    color: #333;
    margin: 0px 10px;
    font-weight: 200;

}

.video-test .review .client h5 {
    margin: 0px 10px;
    color: #333;
}

#faq {
    background-color: #d0cdcd;
    padding: 30px;
}

#faq .container .main {
    background-color: #ffffff;
    display: flex;
    border-radius: 20px;
}

#faq .container .main .photo {
    padding: 10px;
}

.faq-container {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
}

.faq-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    cursor: pointer;
}

.faq-question-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question {
    font-weight: bold;
}

.faq-icon {
    font-size: 20px;
    cursor: pointer;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding-left: 20px;
    margin-top: 5px;
}

.faq-item.active .faq-answer {
    max-height: 200px;
    /* Adjust as needed */
}

.faq-item.active .faq-icon {
    transform: rotate(45deg);
    /* Rotate the + to a - */
}

.faq-container h4 {
    font-size: 35px;
    text-transform: uppercase;
    margin: 20px 0px 0px 0px;
    font-weight: bolder;
}

.faq-container p {
    font-size: 15px;
    font-weight: 300;
}

footer {
    background-image: linear-gradient(rgb(6 105 17), rgb(29 121 85));
    height: 400px;
}

.container .footer {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    padding: 50px 0px;
    position: relative;
}

.container .footer .footer-left {
    width: 60%;
}

.footer .footer-mid {
    width: 35%;
    position: absolute;
    right: 0%;
    z-index: 10;
}

.mid .footer-mid form {
    background-color: #f0f4f4;
    color: #000000;
    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 15px;
    padding: 20px;
}

.mid .footer-mid form input {
    margin: 10px 0px;
    padding: 15px;
    border-radius: 25px;
    outline: none;
    border: 1px solid gray;
}

.mid .footer-mid form textarea {
    margin: 10px 0px;
    padding: 15px;
    border-radius: 25px;
    outline: none;
    border: 1px solid gray;
    resize: none;
}

.mid .footer-mid form .btn {
    border: none;
    cursor: pointer;
    border-radius: 25px;
    background-color: rgb(29 121 85);
    padding: 10px 20px;
    color: #ffffff;
    margin: 10px 0px 20px 0px;
}

.footer .footer-left h3 {
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
}

.footer .footer-left p {
    font-size: 15px;
    color: #ffffff;
    font-weight: 300;
}

.footer .footer-left ul li {
    list-style: none;
    margin-top: 25px;
    font-weight: 300;
}

.footer .footer-left ul li i {
    background-color: #ffffff;
    color: rgb(55 145 34);
    height: 15px;
    font-size: 17px;
    width: 15px;
    padding: 12px;
    margin: 0px 8px;
    border-radius: 50%;
    cursor: pointer;
}

.main-footer {
    background: #1f1e1e;
    color: #ffffff;
    margin-top: -2px;
    border-bottom: 1px solid gray;
}

.main-footer .main-box {
    display: flex;
}

.main-footer .main-box .main-left {
    width: 40%;
    margin: 50px 10px;
}

.main-box .main-left p {
    font-size: 13px;
    font-weight: 300;
}

.main-box .main-left ul li {
    list-style: none;
    display: inline-block;
    margin: 20px 5px;
    color: #fff;
    background: #307133;
    padding-top: 10px;
    font-size: 20px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    width: 40px;
    cursor: pointer;
}

.main-footer .main-box .main-right {
    width: 60%;
    margin: 12em 0em 0em 2em;
}

.main-box .main-right h3 {
    font-size: 20px;
    font-weight: 400;
}

.main-box .main-right p {
    font-size: 13px;
    font-weight: 300;
}

.main-box .main-right ul li {
    list-style: none;
    display: inline-block;
    margin: 30px 20px 0px 0px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 300;
    color: #4d994d;
}

.main-box .main-right ul li:hover {
    color: #fff;
}

.copyright {
    text-align: center;
    background-color: #1f1e1e;
    color: #c5c2c2;
    padding: 10px 0px;
    font-size: 12px;
}

.watsup-btn {
    position: fixed;
    bottom: 22px;
    left: 16px;
    z-index: 999;
}

.watsup-btn i {
    background: green;
    color: white;
    padding: 13px;
    border-radius: 10px;
    font-size: 23px;
}

.call-btn {
    position: fixed;
    bottom: 80px;
    left: 16px;
    z-index: 999;
}

.call-btn i {
    background: rgb(51, 100, 169);
    color: white;
    padding: 13px;
    border-radius: 10px;
    font-size: 20px;

}